<!DOCTYPE html>

<html lang="en" ng-app="pogoApp">
<head>
    <title>PoGoLoCo</title>
    <link rel="shortcut icon" href="img/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJcXopt5WZddvyJmndFcpPdD36mAX-lXA"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/pokemon_object.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">


    <script src="/js/restAngular.js"></script>
    

</head>

<body ng-controller="pogoCtrl">
    <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#search" aria-controls="home" role="tab" data-toggle="tab">Locate</a></li>
    <li role="presentation"><a href="#submit" aria-controls="profile" role="tab" data-toggle="tab">Submit</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="search">
      <div class="panel-group row" id="accordion" >
            <div class="panel panel-default col-md-4">
                <div class="heading-color panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#search-container">
                  <h4 class="panel-title">
                    <a class="accordion-toggle row">Filter</a>
                  </h4>
                </div>
                <div id="search-container" class="panel-collapse collapse">
                  <div id="filters" class="panel-body">
                    <input class="form-control" placeholder="Pokemon" ng-model="search.name">
                  </div>
                </div>
            </div>
        </div>

        <div class="panel-group row" id="accordion" ng-repeat="pokemon in entries | filter:search ">
            <div class="panel panel-default col-md-4">
                <div class="heading-color panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{ pokemon.id }}">
                  <h4 class="panel-title">
                    <a class="accordion-toggle row" ng-click='initMap(pokemon.id, pokemon.location)'>

                      <div class="pokemon container col-xs-4">
                        {{ pokemon.name  }}
                      </div>

                      <div class="time col-xs-4">
                        5 Mins ago
                      </div>

                      <div class="icons-up col-xs-2">
                          <i class="glyphicon glyphicon-thumbs-up thumbs-up"></i>
                          <span class="numberonthumb">{{ pokemon.valid.upvotes }}</span>
                      </div>
                      <div class="icons-down col-xs-2">
                          <i class="glyphicon glyphicon-thumbs-down thumbs-down"></i>
                          <span class="numberonthumb">{{ pokemon.valid.downvotes }}</span>
                      </div>

                      
                    </a>
                  </h4>
                </div>
                <div id="{{ pokemon.id }}" class="panel-collapse collapse">
                  <div id="map_{{ pokemon.id }}" class="panel-body map">

                  </div>
                </div>
            </div>
            <!-- <td>{{ pokemon.name  }}</td>
            <td>{{ pokemon.timestamp }}</td>
            <td>{{ pokemon.location }}</td>
            <td>{{ pokemon.random }}</td>
            <td>{{ pokemon.valid }}</td> -->
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="submit">
      ...
    </div>
  </div>

</div>
</body>
</html>
